html{
    height: 100%;
}
.project{
    border: 1px solid black;
    height: auto;
    width: 100%;
    display: block;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.pipeline{
    border: 1px solid black;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.pipeline.Success {
    background: #98fb98;
}

.pipeline.Failure {
    background: #cd5c5c;
}

.stage{
    border: 1px solid black;
    padding: 10px;
}

.stage.Success {
    background: #5f9ea0;
}

.stage.Failure {
    background: red;
}

.job{
    border: 1px solid black;
    padding: 5px;
}

.job.Success{
    background: #adff2f;
}

.job.Failure{
    background: #ff4500;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

li{
    display: block;
}