%ul.project{:class => "clearfix"}
  - @project.stages.each do |pipeline|
    %li
      .pipeline{:class => pipeline.lastBuildStatus}
        %div= pipeline.name
        %ul
          - pipeline.stages.each do |stage|
            %li
              .stage{:class => stage.lastBuildStatus}
                %div= stage.name
                %ul
                  - stage.stages.each do |job|
                    %li.job(class="#{job.lastBuildStatus}" )
                      = job.name