%ul.project
  - @project.stages.each do |pipeline|
    %li
      %div= pipeline.name
      %ul.pipeline
        - pipeline.stages.each do |stage|
          %li
            %div= stage.name
            %ul.stage
              - stage.stages.each do |job|
                %li= job.name